@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:700&display=swap');
body {}

#app {
    width: 80%;
    float: right;
    background-image: url('../img/so-white.png') !important;
    user-select: none;
}

.active {
    border-right: 0.5px solid #444;
    padding-right: 0.4em;
}

.abs {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.title {
    font-family: 'Roboto', sans-serif;
}

.hero .title {
    color: white;
}

.content {
    font-family: 'PT Sans', sans-serif;
    position: relative;
}

.hero {
    background-color: #444444;
    background-image: linear-gradient(to bottom, rgba(73, 73, 73, 0.459) 0%, rgba(0, 0, 0, 0.61) 75%, rgb(0, 0, 0) 100%), url('../img/bighead.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
}

.lighter {
    color: #bbb;
}

.continue {
    position: absolute;
    width: 100%;
    height: 10%;
    text-align: center;
    bottom: 0;
    z-index: 6;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 30pt;
    cursor: pointer;
    transition-duration: 0.5s;
}

.continue:hover {
    padding-top: 0.3em;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    border-right: 1px solid #aaa;
    padding: 0.5em;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    border-left: 3em solid #222;
}

#navigation b:hover {
    cursor: pointer;
}

img {
    display: block;
    max-height: 300px;
    max-width: 300px;
    width: auto;
    height: auto;
    padding: 0.2em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.img-panel {
    width: 100%;
    display: flex;
    align-items: center;
}

.img-panel img {
    border-radius: 0.5em;
    min-height: 100%;
    transition-duration: 0.2s;
}

.img-panel img:hover {
    padding: 0.5em;
}

.note {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    font-style: italic;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}